<form class="register-form" id="registerForm">
  <div class="login-header">
    <h2>Zarejestruj się</h2>
  </div>
  <fieldset class="form-control-input-wrapper">
    <div class="fieldset-content">
      <input id="name" type="text" name="form[name]" placeholder="Nazwa" required class="form-control">
    </div>
  </fieldset>

  <fieldset class="form-control-input-wrapper">
    <div class="fieldset-content">
      <input id="firstName" type="text" name="form[firstName]" placeholder="Imię" required class="form-control">
    </div>
  </fieldset>

  <fieldset class="form-control-input-wrapper">
    <div class="fieldset-content">
      <input id="lastName" type="text" name="form[lastName]" placeholder="Nazwisko" required class="form-control">
    </div>
  </fieldset>

  <fieldset class="form-control-input-wrapper">
    <div class="fieldset-content">
      <input type="email" name="form[email]" placeholder="E-mail" required class="form-control">
    </div>
  </fieldset>

  <fieldset class="form-control-input-wrapper">
    <div class="fieldset-content">
      <input type="password" name="form[password]" minlength="8" placeholder="Hasło" required class="form-control">
    </div>
  </fieldset>
  <button type="submit" class="btn btn-large btn-purple btn-block">
    Załóż konto
  </button>
</form>