<form class="login-form" id="loginForm">
  <div class="login-header">
    <h2>Zaloguj się</h2>
  </div>
  <fieldset class="form-control-input-wrapper">
    <div class="fieldset-content">
      <input id="name" type="text" name="form[name]" placeholder="Nazwa" required class="form-control">
    </div>
  </fieldset>

  <fieldset class="form-control-input-wrapper">
    <div class="fieldset-content">
      <input type="password" name="form[password]" minlength="8" placeholder="Hasło" required class="form-control">
    </div>
  </fieldset>
  <button type="submit" class="btn btn-large btn-purple btn-block">
    Zaloguj
  </button>
</form>