<div class="row">
  <div class="sm-12 columns">
    <div class="sm-12 columns align-right">
      <button type="button" (click)="showAddConversationForm = !showAddConversationForm" class="btn btn-without-shadow add-conversation-btn">Add</button>
      <button type="button" (click)="onLogout()" class="btn btn-without-shadow logout-btn">Logout</button>
      <div class="users-search" *ngIf="showAddConversationForm">
        <form [formGroup]="createConversationForm" (ngSubmit)="onAddConversation()">
          <input type="hidden" name="receiverId" id="receiverId" formControlName="receiverId">
          <input type="text" placeholder="Search" (keyup)="findUsers($event)">
          <ul class="users-list" *ngIf="users.length > 0">
            <li *ngFor="let user of users" (mouseenter)="receiverIdSelect(user._id)">
              <button type="submit">{{ user.firstName }} {{ user.lastName }}</button>
            </li>
          </ul>
        </form>
      </div>
    </div>
    <app-conversations-list *ngIf="conversations" [conversations]="conversations"></app-conversations-list>
  </div>
</div>