@import '../../../sass/utilities/unit';
@import '../../../sass/variables';

.add-conversation-btn {
  margin-bottom: 10px;
  color: $color-white;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-left: 7px;
}

.user-header {
  margin-bottom: 20px;
  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .user-name {
      color: $color-white;
      max-width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    a {
      color: $color-white;
      display: inline-block;
      cursor: pointer;
    }
    i {
      margin-left: 7px;
      font-size: 20px;
      vertical-align: middle;
    }
  }
  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: $color-gray;
    margin: 0 auto;
    width: 95%;
  }
}

.users-search {
  position: relative;
  input[type='text'] {
    height: 30px;
    border: 0;
    margin-bottom: 15px;
  }

  .users-list {
    background: $color-white;
    text-align: left;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    margin: 0;
    width: 100%;
    top: 100%;
    li {
      a {
        background: transparent;
        border: 0;
        cursor: pointer;
        display: block;
        padding: 7px 5px;
        border-radius: 4px;
        text-align: left;
        width: 100%;
        &:hover {
          background-color: $color-gray-lightest;
        }
      }
    }
  }
}