@import '../../../sass/utilities/unit';
@import '../../../sass/variables';

.btn{
  &.logout-btn,
  &.add-conversation-btn {
    margin-bottom: 10px;
    background: transparent;
    color: $color-white;
    padding: 0;
    font-weight: normal;
  }
}

.users-search {
  position: relative;
  input[type='text'] {
    height: 30px;
    border: 0;
    margin-bottom: 15px;
  }

  .users-list {
    background: $color-white;
    text-align: left;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    margin: 0;
    width: 100%;
    top: 100%;
  }
}