@import '../sass/variables';
.conversation-window {
  width: calc(100% - 300px);
  max-width: calc(100% - 300px);
  flex: 0 0 calc(100% - 300px);
  position: relative;
}
.main-sidebar {
  background-color: $color-blue-darkest;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100vh;
  width: 300px;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 0;
}